:root {
/* Цвета шрифта */
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --accent-button-color: #fff;
/* Цвета фона */
  --primary-bgr-color: #fff;
  --accent-bgr-color: #2196F3;
}


body {
  color: #212121;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: inherit;
  text-decoration: none;
  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.word-web {
  color: var(--accent-color);
}

/* Site nav */
.site-nav a {
  color: inherit;
  text-decoration: none;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Е-мейл и адрес */
.mail-phone a {
  color: var(--secondary-color);
  text-decoration: none;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mail-phone a:hover,
.mail-phone a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: #fff;
  /* Временный цвет фона для видимости белого заголовка */
  background-color: #2F303A;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
    color: var(--accent-button-color);
    background-color: var(--accent-bgr-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-button-color);
  background-color: var(--accent-bgr-color);
  cursor: pointer;
}


/* Наши достоинства */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}



.section-paragraph h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}



.section-paragraph p {
  color: var(--secondary-color);
  
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Наша команда */
.grey {
  background-color: #F5F4FA;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.our-team p {
  color: var(--secondary-color);
  
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}


/* Footer */

.footer {
  color: #fff;
  background-color: #2F303A;
}
/* Контакты в футере */

.contacts-footer {
  font-style: normal;
}

.contacts-footer p {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-footer a:hover,
.contacts-footer a:focus {
  color: var(--accent-color);
}


/* PORTFOLIO PAGE */

/* Filter buttons */

.filter-buttons {
  background-color: #F5F4FA;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

/* .light-button {
  color: var(--accent-button-color);
  background-color: var(--accent-bgr-color);
} */

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--accent-button-color);
  background-color: var(--accent-bgr-color);
  cursor: pointer;
}


/* Секция с работами из Портфолио  */

.projects a {
  color: inherit;
  text-decoration: none;
}
.projects a:hover,
.projects a:focus {
  color: var(--accent-color);

}

.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--secondary-color);
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  
}


